<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="backOfficeSettings" type="Sanlam.SnetBackOffice.Services.ConfigurationSettings,Bo.BaseServices"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XplanUserOrgFacade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="AGTSnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--<httpRuntime maxRequestLength="409600" executionTimeout="300"/>-->
  <dataConfiguration defaultDatabase="BoSysDbPpe"/>
  <microsoft.web.services3>
    <!--<security>
      <x509 allowTestRoot="true" />
    </security>-->

    <diagnostics>
      <trace enabled="true" input="c:\Data\MUMSBatch\Traces\InputTrace.webinfo" output="c:\Data\MUMSBatch\Traces\OutputTrace.webinfo"/>
      <detailedErrors enabled="true"/>
    </diagnostics>
  </microsoft.web.services3>

  <appSettings>
    <!--<add key="TimeToLive" value="5" />
    <add key="Expiration" value="10" />-->
    <add key="EmailBOAdmin" value="yazeed.adams@sanlam.co.za"/>
    <add key="EmailBusinessAdmin" value="yazeed.adams@sanlam.co.za"/>
    <add key="EmailLidAdmin" value="yazeed.adams@sanlam.co.za"/>
    <add key="EmailSmtp" value="mail.sanlam.co.za"/>
    <add key="EmailFrom" value="adminlife@sanlam.co.za"/>
    <add key="WebServiceUserTokenUsername" value="BBOSNET"/>
    <add key="WebServiceUserTokenPassword" value="twXvlYzWrUZvsjGdImskmg=="/>
    <add key="InteractiveContextUserId" value="BBOSNET"/>
    <add key="InteractiveContextLanguage" value="en"/>
    <add key="SessionLocale" value="ZA"/>
    <add key="UserTimeZone" value="Africa/Johannesburg"/>
    <add key="DefaultPassword" value="SCS@nFp@ss7"/>
    <add key="GetDataStoreProcedureName" value="spcRetrieveXplanUsers"/>
    <add key="UpdateDataStoredProcedureName" value="spcUpdateXplanUsers"/>
    <add key="CookieMethod" value="True"/>
    <add key="IndividualLog" value="True"/>
    <add key="IndividualLogPath" value="c:\Data\MUMSBatch\Log\"/>
    <add key="PrimaryEmail" value="yazeed.adams@sanlam.co.za"/>
    <add key="SecondaryEmail" value="yazeed.y.adams@gmail.com"/>
    <add key="ApplicationName" value="MumsBatch"/>
    <add key="PerformanceTest" value="Yes"/>
    <add key="PerformanceLogFile" value="PerformanceLog.log"/>
    <add key="IntemediaryListSize" value=""/>
    <add key="BigFirst" value="No"/>
    

  </appSettings>

  <backOfficeSettings>
    <backOfficeSystemDatabase value="BoSysDbPpe"/>
    <sourceDatabase value="MUMSPpe"/>
    <targetDatabase value="MUMSPpe"/>
    <XplanUserName value="HDjZlatfnQmdWBxdDMmWug=="> 
    </XplanUserName>
    <XplanPassword value="Ze6jWZhYRk6Susgr1zUjew==">
    </XplanPassword>

    <!--XPLAN SITES-->
    <!--<XplanUrl value="http://sanfin.sanlam.co.za/sanfin/RPC2"/>-->


    <!--<XplanUrl value="http://sanfin-ppe.sanlam.co.za/sanfin/RPC2"/>-->

    <!--<XplanUrl value="http://sanfin-ppe.sanlam.co.za/sanfinmnt/RPC2"/>-->

    <!--<XplanUrl value="http://sanfinnam-ppe.sanlam.co.za/sanfinmnt/RPC2"/>-->


    <!--<XplanUrl value="https://sanfinnam-ppe.sanlam.co.za/sanfinnam/RPC2"/>-->

    <XplanUrl value="https://sanfin-ppe.sanlamadvice.co.za/sanfin/RPC2"/>
    

   

    <logFileLocation value="c:\Data\MUMSBatch\Log\Mums.log"/>
    <logFileArchiveLocation value="c:\Data\MUMSBatch\Log\Archive">
    </logFileArchiveLocation>
    <inputFileDefinition>
      <maxFiles errorOnExcess="true" value="1"/>
      <fileLocation path="c:\Data\MUMSBatch\InputFiles"/>
      <fileMask filename="*" extension=".xml"/>
      <validation>
        <inputRecords min="1" max="102830128"/>
        <validationXsd path="c:Data\MUMSBatch\AgtExtract.xsd"/>
      </validation>
      <archival>
        <archiveLocation path="c:\Data\MUMSBatch\InputFiles\Archive"/>
        <purgeAfterDays value="150"/>
        <timeStamp enabled="true" mask="yyyyMMdd.HHmmss"/>
      </archival>
    </inputFileDefinition>
  </backOfficeSettings>
  <connectionStrings configSource="connectionStrings.config"/>
  <log4net>
    <!--define a custom level of STATISTIC that falls between INFO(40000) and DEBUG (30000) 
			This is so that an appender can be defined with a filter for STATISTIC only (which has different log format to other levels) 
			Same goes for CUSTOM Logs -->
    <level>
      <name value="CUSTOM"/>
      <value value="35001"/>
    </level>
    <!-- Root forms a base for all appenders which are created, as well as defining a reference to the appenders which are to be used -->
    <root>
      <level value="ALL"/>
    </root>
    <logger name="Sanlam.SnetBackOffice.Services.Logging">
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </logger>
    <!-- Standard Flat File Layout -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:\Data\MUMSBatch\Log\ExceptionServiceLog.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{dtsEvent};%X{dtsLog};%X{applicationId};%X{sessionId};%X{processId}; %t;%X{logLevel};%X{location};%m;%X{exceptionMessage}%n"/>
      </layout>
    </appender>
  </log4net>
  <exceptionHandling>
    <exceptionPolicies>
      <!-- Begin - Common Policies -->
      <add name="Handle and Resume Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers/>
          </add>
        </exceptionTypes>
      </add>
      <add name="Propagate Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers/>
          </add>
        </exceptionTypes>
      </add>
      <!-- End - Common Policies -->
      <!-- Begin - ExceptionHandlingService Policies -->
      <add name="Log Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Log Handler" type="Sanlam.SnetBackOffice.Services.LogHandler, Bo.BaseServices"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndNotify Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="LogAndNotify Handler" type="Sanlam.SnetBackOffice.Services.LogAndNotifyHandler, Bo.BaseServices"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>

  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <system.web>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
