<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--Bosys DEV-->
  <add name="BoSysDbXplanDev"
	   providerName="System.Data.SqlClient"
	   connectionString="Server=vmsql1sandev.sanlam.co.za\SANFIN; Database=BoSysDb; User ID=snetsys; Password=snetsys; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--Bosys TEST-->
  <add name="BoSysDbTest"
   providerName="System.Data.SqlClient"
   connectionString="Server=sanfin_back_office_db_test.sanlam.co.za; Database=BoSysDb; User ID=snetsys; Password=5n3t5y5U53r; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--Bosys PPE-->
  <add name="BoSysDbPpe"
      providerName="System.Data.SqlClient"
      connectionString="Server=sanfin_back_office_db_ppe.sanlam.co.za; Database=BoSysDb; User ID=snetsys; Password=5n3t5y5U53r; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--Staging database for Shared Components-->
  <add name="SCStaging"
    providerName="System.Data.SqlClient"
    connectionString="Server=DST09305; Database=ProductInformation; User ID=SaturnRW; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--Dev database for Shared Components-->
  <add name="SCDev"
    providerName="System.Data.SqlClient"
    connectionString="Server=vmsql1sandev.sanlam.co.za\SharedComp; Database=ProductInformation; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=true; Connection Timeout=30; Pooling=true"/>

  <!--Test database for Shared Components-->
  <add name="SCTest"
    providerName="System.Data.SqlClient"
    connectionString="Server=shared_components_db_test.sanlam.co.za; Database=ProductInformation; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--PPE database for Shared Components-->
  <add name="SCPPE"
    providerName="System.Data.SqlClient"
    connectionString="Server=vmsql1sanppe.sanlam.co.za\SharedComp; Database=ProductInformation; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>

  <!--Mums DB-->

  <!--Dev database for Shared Components-->
  <add name="MUMSDev"
    providerName="System.Data.SqlClient"
    connectionString="Server=vmsql1sandev.sanlam.co.za\SharedComp; Database=MumsDMS; User ID=SanfinSC; Password=S@nf!n$C; Integrated Security=false; Persist Security Info=true; Connection Timeout=30; Pooling=true"/>

  <add name="MUMSTest"
    providerName="System.Data.SqlClient"
    connectionString="Server=shared_components_db_test.sanlam.co.za; Database=MumsDMS; User ID=SanfinSC; Password=S@nf!n$C; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>
  
  <add name="MUMSPpe"
    providerName="System.Data.SqlClient"
    connectionString="Server=sanfin_back_office_db_ppe.sanlam.co.za; Database=MumsDMS; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>
  <!--<add name="MUMSPpeProd"
    providerName="System.Data.SqlClient"
    connectionString="Server=shared_components_db_ppe.sanlam.co.za; Database=MumsDMSRestore_17052022; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>-->

  <!--<add name="MUMSPpeProd"
    providerName="System.Data.SqlClient"
    connectionString="Server=shared_components_db_ppe.sanlam.co.za; Database=MumsDMS; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>-->

  <add name="MUMSPpeProd"
  providerName="System.Data.SqlClient"
  connectionString="Server=sanfin_back_office_db_ppe.sanlam.co.za; Database=MumsDMSRestore_17052022; User ID=SaturnSC; Password=P1ck@Ch00s3; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"/>



  <!--Bosys PROD-->
  <add name="BOSysPROD"
		 providerName="System.Data.SqlClient"
		 connectionString="Server=sanfin_back_office_db.sanlam.co.za; Database=BoSysDb; User ID=snetsys; Password=5n3t5y5U53r; Integrated Security=false; Persist Security Info=false; Connection Timeout=30; Pooling=true"
        />

  <!--PRD database for Shared Components-->
  <add name="SCProd" connectionString="Data Source=sharedcomponent_db.sanlam.co.za;Initial Catalog=MumsDms;Persist Security Info=True;User ID=SanfinSC;Password=S@nf!n$C" providerName="System.Data.SqlClient"/>


 

</connectionStrings>